@model IEnumerable<SpaWeb.Models.ServiceType>

@{
    ViewBag.Title = "Manage Service Type";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-heading">
                                <ul class="breadcome-menu">
                                    <li>
                                        <a href="#">Home</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li>
                                        <span class="bread-blod">Dashboard V.1</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="analytics-sparkle-area">
    <div class="container-fluid">
        <h2>Service Type</h2>
        <div id="toolbar">
            <a href="/ServiceTypes/Create" class="btn btn-primary shadow sharp me-1 fas">Create Service Type</a>
        </div>
        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
               data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a href="/ServiceTypes/Edit/@item.ServiceType1 " class="btn btn-warning shadow sharp me-1 fas ">Edit Service Type</a>
                            <a href="/ServiceTypes/Details/@item.ServiceType1 " class="btn btn-primary shadow sharp me-1 fas">Details Service Type</a>
                            <a href="/ServiceTypes/Delete/@item.ServiceType1 " class="btn btn-danger shadow sharp me-1 fas">Delete Service Type</a>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


